@charset "utf-8";

/* CSS Document */

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(146, 161, 176, 0.15);
}

Body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    color: #131313;
    font-style: normal;
    font-weight: 300;
    background-color: white;
    height: auto;
}

.clearfix::after {
    content: "";
    clear: none;
    display: table;
}

h3 {
    margin-bottom: 4px;
    ;
}

.clearfix {
    overflow: auto;
    height: auto;
    width: 100%;
}

.page-wrapper {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.top-banner {
    width: 100%;
    padding-bottom: 10px;
}

.logo {
    width: auto;
    height: auto;
}

#landingPage {
    width: 100%;
    height: 40%;
}

.middle {
    width: 49.25%;
    margin-left: 0.5%;
    float: left;
}

.title {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 60px;
    margin-bottom: 0%;
    margin-top: 2%;
}

@media screen and (max-width: 575px) {
    .title {
        font-size: 40px;
    }
}

.titleGreenLine {
    width: 10%;
    height: 2px;
    margin-left: 45%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.titleGreenLine2 {
    width: 20%;
    height: 2px;
    text-align: left;
}

.green {
    color: #26B54D;
}

.shadow {
    -webkit-box-shadow: 12px 12px 20px #1C2B16;
    box-shadow: 12px 12px 20px #1C2B16;
}

#1 {
    color: #FFFFFF;
}

article {
    padding-top: 0%;
}

#greentree-image img {
    width: 95%;
    height: 70%;
    margin-bottom: 13%;
}

.featured {
    width: 42%;
    margin-right: 0%;
    margin-left: 6%;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 22px;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
}

.featured1 {
    width: 42%;
    margin-right: 0%;
    margin-left: 0%;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 18px;
}

.featured2 {
    width: 42%;
    margin-right: 0%;
    margin-left: 6%;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 22px;
}

.featured3 {
    width: 42%;
    margin-right: 0%;
    margin-left: 6%;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 42px;
    text-align: center;
    letter-spacing: -3px;
}

.featured4 {
    width: 45%;
    margin-right: 0%;
    margin-left: 3%;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 28px;
    text-align: center;
}

.featured5 {
    width: 88%;
    margin-right: 10%;
    margin-left: 6%;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 22px;
    margin-top: 0;
}

.featured3 hr {
    margin-left: 40%;
}

.featured4 ul {
    list-style-type: none;
}

.featured4 li {
    text-decoration: none;
    text-align: left;
    line-height: 200%;
}

.featured3 img {
    width: 60%;
    height: 30%;
    margin-bottom: 14%;
}

.featured4 .subtitle {
    font-size: 40px;
}

#smallFont {
    font-size: 30px;
}

.white {
    color: #FFFFFF;
}

.titleGreenLine2 {
    margin-top: 0%;
    margin-left: 0%;
}

.featured-investor p {
    margin-right: 6%;
    margin-left: 5%;
    float: left;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 22px;
    margin-bottom: 5%;
}

.featured-investor img {
    width: 88%;
    height: 88%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#value-image {
    width: 100%;
    margin-bottom: 10%;
}

#policy-image {
    width: 100%;
    margin-bottom: 10%;
}

.subfooterfloat {
    float: left;
}

.subfooter p {
    margin-top: 10%;
    width: 60%;
    margin-left: 0%;
    font-size: 28px;
    text-align: left;
}

.subfooter img {
    width: 30%;
    height: 20%;
    margin-bottom: 5%;
}

footer {
    height: 105px;
    width: 100%;
    box-sizing: border-box;
    background-color: #131313;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#logo1 img {
    width: 100px;
    height: 97px;
    padding-top: 3%;
    padding-left: 60%;
}

.footerSentence {
    text-align: left;
    margin-top: 3.2%;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-left: 5%;
    margin-right: 52%;
}

.footerSentence1 {
    text-align: left;
    margin-top: 3.2%;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-left: 5%;
    margin-right: 72%;
}

.bottum-featured {}

@media screen and (min-width:1200px) {
    .middle {
        width: 100%;
        float: none;
        margin-left: 0%;
        margin-right: 0%;
    }
    footer {
        height: 105px;
    }
    #logo1 img {
        width: 100px;
        height: 97px;
        padding-left: 60%;
        padding-top: 3%;
    }
    .footerSentence {
        margin-top: 3.2%;
        color: white;
        font-size: 25px;
        text-align: left;
        margin-left: 5%;
        margin-right: 52%;
    }
    .footerSentence1 {
        text-align: left;
        margin-top: 3.2%;
        color: white;
        font-size: 18px;
        letter-spacing: 1.5px;
        margin-left: 5%;
        margin-right: 72%;
    }
    .bottum-featured {
        float: left;
    }
}

@media screen and (max-width:900px) {
    #greentree-image img {
        width: 40%;
        height: 70%;
        margin-left: 29%;
        margin-bottom: 13%;
    }
    .featured {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 22px;
    }
    .featured1 {
        width: 96%;
        margin-right: 2%;
        margin-left: 0%;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 18px;
    }
    .featured2 {
        margin-right: 2%;
        margin-left: 2%;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 22px;
    }
    .featured3 {
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 35px;
        text-align: center;
        letter-spacing: -3px;
    }
    .featured4 {
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 20px;
        text-align: center;
        margin-bottom: 13%;
    }
    .featured5 {
        width: 80%;
        margin-right: 15%;
        margin-left: 15%;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 22px;
    }
    .featured3 img {
        width: 30%;
        height: 30%;
        margin-bottom: 1%;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}

.column1 {
    flex: 95%;
    padding: 10px;
}

menutext {
    font-size: 22px;
}

topbot {
    margin-top: 5%;
    margin-bottom: 5%;
}

list {
    list-style: none;
}

list li::before {
    content: "\2022";
    color: green;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.index_contact {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}